body {
  background-color: #E5E1D7;
}
h1 {
  color: #D65F15;
  text-align: center;
  Font-Family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
p {
  color: (115,115,115);
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a:link {
  color: #b3cce6;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
a:visited {
  color: #336699;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
